/* Container styling */
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #223822;
}

/* Title styling */
.auth-title {
    font-size: 48px;
    color: #48fc8c;
    margin-bottom: 20px;
}

/* Link text for switching between log-in and sign-up */
.auth-link-text {
    color: #fff;
    margin-bottom: 30px;
    font-size: 22px;
}

.auth-link-text a {
    color: #48fc8c;
    text-decoration: none;
}

.auth-link-text a:hover {
    text-decoration: underline;
}
