.homepage {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
  }

.join-us {
  margin: auto;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.join-us button {
  width: 150px;
  height: 80px;
}