.homepage {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
  }

.join-us {
  margin: auto;
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.join-us button {
  width: 150px;
  height: 80px;
  font-size: 1.5em;
}

.back-to-top {
  bottom: 20px;
  right: 20px;
  color: var(--content-primary);
  opacity: 70%;
  border: none;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
}

.back-to-top:hover {
  color: var(--brand-bright-green);
  text-decoration: underline;
}

.back-to-top-icon {
  vertical-align: middle;
}