.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 80px auto;
  /* max-width: 1200px; */
}

.section-image {
  width: 360px;
}

.section-text {
  color: var(--content-primary);
  text-align: center;
}

.section-text h1 {
  font-size: 70px;
  margin-bottom: 20px;
}

.section-text h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.section-text p {
  color: white;
  font-size: 35px;
  line-height: 1.6;
}

.slogan-highlight {
  color: var(--brand-bright-green);
  font-weight: bold;
}

.reveal {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}