.scrollable-showcase {
    text-align: center;
    padding: 20px;
}

.showcase-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showcase-container {
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    padding: 10px;
    width: 900px;
}

.showcase-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: fit-content;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    transform: scale(0.6);
    opacity: 0.4;
}

.showcase-card.current {
    transform: scale(1);
    opacity: 1;
}

.showcase-card.side {
    transform: scale(0.8);
    opacity: 0.7;
}

.showcase-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.showcase-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.showcase-card p {
    font-size: 1em;
    color: #555;
}

.scroll-button {
    background-color: transparent;
    border-radius: 20%;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.scroll-button.left {
    left: -110px;
}

.scroll-button.right {
    right: -110px;
}

.scroll-button:hover {
    background-color: var(--brand-mild-green);
}