/* Form styling */
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

/* Input styling */
.auth-label {
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.auth-input {
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
}

.auth-input::placeholder {
    color: #666;
}

.auth-input:focus {
    outline: none;
    border: 2px solid var(--brand-bright-green);
}

/* Button styling */
.auth-button {
    padding: 12px;
    background-color: var(--brand-bright-green);
    border: none;
    border-radius: 5px;
    color: var(content-dark);
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 20px auto;
    width: 70%;
}

.auth-button:hover {
    background-color: var(--brand-bright-green-hover);
}

/* Error text styling */
.auth-error-text {
    color: #ff4a4a;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    min-height: 20px;
    visibility: visible;
}


